# dependencies
node_modules/
client/node_modules/
server/node_modules/

# build
client/dist/
server/dist/

# env
.env
.env.local
.env.production
server/.env
client/.env

# misc
.DS_Store
*.log
.vercel
